DISCORD_TOKEN=PASTE_BOT_TOKEN_HERE
DISCORD_CLIENT_ID=PASTE_APPLICATION_CLIENT_ID_HERE
DISCORD_CLIENT_SECRET=PASTE_APPLICATION_CLIENT_SECRET_HERE
DISCORD_GUILD_ID=1484513417317580840
DISCORD_LICENSE_ROLE_ID=1502002061309513758
API_PORT=33333
PUBLIC_BASE_URL=http://localhost:33333
SESSION_TTL_MINUTES=10
CLIENT_JAR_PATH=C:\Users\tomas\Documents\New project\build\libs\33client-1.0.0.jar
CLIENT_JAR_BASE64=
DATA_DIR=./data
ADMIN_KEY=
